/*reset de margens, preenchimentos e box-sizing para garantir consistência no layout em diferentes navegadores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    margin: 1rem 0;
}

ul{    
    list-style: none;
}

/* estrutura para o input de nova tarefa */
.requestInput{
    width: 90%;
    max-width: 600px;
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #bdbcbc;
    margin-bottom: 1rem;
    justify-content: space-around;
}

/* estilo para o input de nova tarefa */
.newTask{
    width: 100%;
    max-width: 400px;
    font-size: 15px;
    padding: 8px;
    background-color: #e4e4e4;
    border-radius: 20px;
    border: none;
    padding-left: 1rem;
}

/* estilo para os botões */
.btn{
    width: 80px;
    height: 35px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    filter: brightness(70%);
}

.btnAdd{
    background-color: #818080;
    color: #fff;
}

.concludedBtn{
    background-color: rgba(5, 168, 13, 0.8);
}

.deleteBtn{
    background-color: rgb(185, 15, 15);
}


/* estrutura para o contêiner das tarefas */
.containerTask{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* estilo para a lista de tarefas */

#list{
    width: 90%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 15px;
    background-color: #bdbcbc;
    padding: 1rem 2rem;
    overflow-y: auto;
}

#list li{
    width: 100%;
    height: 100%;
    max-height: 70px;
    min-width: 100px;
    background-color: #8d8d8d;
    align-items: center;
    border-radius: 15px ;
    border-bottom: 2px solid #000;
    overflow-x: auto;
    overflow-y: hidden;
}

/* estilo para as tarefas */
.task{
    display: flex;
    gap: 1rem;
    padding: 1rem 3rem;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 5px;
}

/* estrutura para o contêiner dos botões */
.containerBtns{
    display: flex;
    gap: 0.5rem;
}

/* estilo para tarefas concluídas */
.Concluded{
    text-decoration: line-through;
}
